<div class="container">
    <div>
    <h2>Modifier une machine :</h2>
    </div>
    <form >
        <div  class="col-sm-2 col-md-2 col-lg-2">
            <label >ID  </label>
            <input readonly type="text"  [(ngModel)]= "currentMachine.idMachine"
            name="IdMachine" class="form-control">
            </div>
    <div class="col-sm-4 col-md-4 col-lg-4" >
    <label >Machine</label>
    <input type="text" [(ngModel)]= "currentMachine.nom" name="nom" class="form-control">
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
    <label >Prix</label>
    <input type="number" [(ngModel)]= "currentMachine.prix"
    name="prix" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">

<label >Date d'achat</label>

<input type="date" [ngModel]="currentMachine.dateachat| date: 'yyyy-MM-dd'"
(ngModelChange)=" currentMachine.dateachat= $event" name="dateCreation"
class="form-control">
</div>
<div class="mb-3">
    <label for="exampleInputCat" class="form-label">Utilusation</label>
    <select class="form-control form-control-lg" aria-label="Default select example" [(ngModel)]="id" name="idutili" id="exampleInputCat">
      <option *ngFor="let utl of utlisation" [ngValue]="utl.idutili">{{utl.nomUtilisation}}</option>
    </select>
  </div>
<div class="mt-2">

<button type="submit" (click)="updateMachine()" class="btn btn-success">Modifer</button>

</div>
</form>

</div>